*
{
	font-size:12px;
	font-family:verdana;
}

body {
/*  margin-left: 125px; */
/*  left:50%; */
 text-align: center;
 padding: 15px 15px; 
 vertical-align: middle;
 float:center;
}
h1 {
  left:70%;
/*   margin-left: 675px; */
}
#header {
  left:10%;
/*   margin-left: 225px; */
}
#navigation-buttons {
	top: 10X;
	position: relative;
/* 	left: 45%; */
/* 	right: -60px; */
/* 	text-align: right; */
/* 	margin-right: 90px; */
float: right;
}
#header{

    position:relative;
    top:40%;
	bottom:30%;
    left:0%;
}
#login-form {
    background-color: #ffffff;
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px;
    text-align:center;
}

input {
    height: 32px;
    width: auto;
    border: 2px inset;
    border-top-color: initial;
    border-top-style: inset;
    border-top-width: 2px;
    border-right-color: initial;
    border-right-style: inset;
    border-right-width: 2px;
    border-bottom-color: initial;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-left-color: initial;
    border-left-style: inset;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 10px;
}
#search {

    width: 25%;
	margin-left: 1px;
	margin-right:35px;

}
#content
{
/*    background-color: #f2f2f2; */
/*    padding: 5px 5px; */
/*    overflow:auto; */
    height: auto;
 width: auto;
 float:center;
 top: 60%;
}
#main-container
{
   min-height: auto;
   float:center;
   margin: 0 0 0 10px;
   padding: 10px;
/*    border: 1px solid; */
}

#userlogin
{
    background-color: #d0e4fe;
    margin-top: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 0px;
    text-align:center;
}

h1
{
	font-size:13px;
	padding:0px 1px 1px;
	margin:0px;
	text-align:center;
}
#title,#description{
	width: 1000px;
	text-align:center;
}

/* { background-color:#F9F9F9; } */

input,textarea { padding:7px; font-size:12px !important; width:250px; }

p > label:first-child
{
	display: inline-block;
	font-weight: 500;
	margin-bottom: 5px;
	padding-right: 15px;
	text-align: left;
	width: 75px;
}

.button{
  width: 225px;
  margin-left: 70px;
}

.button1{
 width: 100px;
margin-right:80px;
margin-left:inherit;
}

.button2{
	 width: 120px;
	float:left;
}

ul li { padding:5px; }

span#labeltext { margin: 3px 0px 0px 3px; }

.ui-icon-triangle-1-s {	background-position: -64px -13px; }

#submitbutton,#cancelbutton { 
	width:auto; 
	position: relative;
	}

label.ui-state-default { display:inline-block !important; }

ul { left: 44.5%; top: 49.5%; }

#container
{
	margin:0px auto;
	width:500px;
	background-color:#eee;
	padding:20px;	
	border-radius: 5px;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#QuestionText,#formatQuestion{
	border:1px
 	border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: solid;
    border-left-style: dotted;
}

/* #displaytable{ */
/* 	border: 1px blue; */
/* } */